# Data Cleaning

#### 1. Import Libraries

In [52]:
import pandas as pd
import numpy as np
import datetime
import warnings

warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option('display.max_columns', None)

#### 2. Import Data

In [53]:
data = pd.read_excel('regression_data.xlsx', engine='openpyxl')

#### 3. Exploring the Data

In [54]:
data.shape

(21597, 21)

In [55]:
data.head(5)

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,2014-12-09,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2015-02-25,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,2014-12-09,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2015-02-18,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000

- Mirar NaNs y eliminarlos:

In [56]:
round(data.isna().sum()/len(data),4)*100

id               0.0
date             0.0
bedrooms         0.0
bathrooms        0.0
sqft_living      0.0
sqft_lot         0.0
floors           0.0
waterfront       0.0
view             0.0
condition        0.0
grade            0.0
sqft_above       0.0
sqft_basement    0.0
yr_built         0.0
yr_renovated     0.0
zipcode          0.0
lat              0.0
long             0.0
sqft_living15    0.0
sqft_lot15       0.0
price            0.0
dtype: float64

*No hay NaNs*

- Eliminar columnas "no importantes":

In [57]:
data.drop(['lat', 'long'], axis=1, inplace=True)

In [58]:
data.shape

(21597, 19)

In [59]:
data.head(0)

Empty DataFrame
Columns: [id, date, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, sqft_living15, sqft_lot15, price]
Index: []

*Hemos eliminado las columnas "lat" y "long" porque no las hemos considerado esenciales para el modelo, ya que con el zipcode sabemos el barrio/la zona de la ciudad donde está la vivienda.*

- Eliminar duplicados:

In [60]:
data = data.drop_duplicates()

In [61]:
data.shape

(21597, 19)

- Comprobar que la columna "date" es correcta:

In [62]:
data['date'] = pd.to_datetime(data['date'], errors='coerce')

In [63]:
data.head(3)

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15,price
0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,1340,5650,221900
1,6414100192,2014-12-09,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,1690,7639,538000
2,5631500400,2015-02-25,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,2720,8062,180000

- Mirar valores únicos de las columnas:

In [64]:
for c in data.columns.tolist():
    print(c, len(data[c].unique()))

id 21420
date 372
bedrooms 12
bathrooms 29
sqft_living 1034
sqft_lot 9776
floors 6
waterfront 2
view 5
condition 5
grade 11
sqft_above 942
sqft_basement 306
yr_built 116
yr_renovated 70
zipcode 70
sqft_living15 777
sqft_lot15 8682
price 3622

In [65]:
data.view.unique()

array([0, 3, 4, 2, 1], dtype=int64)

In [66]:
data['view'].value_counts()

0    19475
2      961
3      510
1      332
4      319
Name: view, dtype: int64

*Vemos que los valores únicos de la columna" view" se refieren a categorías en función de las vistas que hay desde las viviendas: desde mala (0) hasta excelente (4).*

- Ver valores únicos de la columna "floors":

In [67]:
data['floors'].value_counts()

1.0    10673
2.0     8235
1.5     1910
3.0      611
2.5      161
3.5        7
Name: floors, dtype: int64

- Ver valores únicos de la columna "bathrooms":

In [68]:
data['bathrooms'].value_counts()

2.50    5377
1.00    3851
1.75    3048
2.25    2047
2.00    1930
1.50    1445
2.75    1185
3.00     753
3.50     731
3.25     589
3.75     155
4.00     136
4.50     100
4.25      79
0.75      71
4.75      23
5.00      21
5.25      13
5.50      10
1.25       9
6.00       6
0.50       4
5.75       4
6.75       2
8.00       2
6.25       2
6.50       2
7.50       1
7.75       1
Name: bathrooms, dtype: int64

#### 4. Treating Numerical and Categorical Data

In [69]:
data.dtypes

id                        int64
date             datetime64[ns]
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
sqft_living15             int64
sqft_lot15                int64
price                     int64
dtype: object

- Date Treatment: separar día, mes, año para trabajar con la fecha como número:

In [70]:
import datetime

In [71]:
def transformar_fecha(data):
    data['Year'] = data['date'].dt.year
    data['Month'] = data['date'].dt.month
    data['Day'] = data['date'].dt.day
    return data.drop(['date'], axis=1)

In [73]:
data = transformar_fecha(data)

In [74]:
data.dtypes

id                 int64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
sqft_living15      int64
sqft_lot15         int64
price              int64
Year               int64
Month              int64
Day                int64
dtype: object

*Fecha cambiada: tratada como número en vez de fecha.*

- Escalar variables numéricas:

#### 5. Processing Data

Lesson 1.08 (final Lab) y 3.08

- Gráficos:

In [ ]:
#para los gráficos:
numericals = customer_df.select_dtypes(np.number)
for col in numericals.columns:
    sns.displot(numericals[col])
    plt.show()

- Tratar outliers:

- Normalizar datos categóricos:

#### 6. Regresión Linear

- Train-test split:

- Aplicar regresión linear:

#### 7. Validación Modelo

- R2.

- MSE.

- RMSE.

- MAE.