In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input

In [2]:
%load_ext sql

In [3]:
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
%sql {connection_string}

 ················

1. Create a database called house_price_regression.

In [16]:
%%sql
create database house_price_regression;
use house_price_regression;

 * mysql+pymysql://root:***@localhost/bank
(pymysql.err.ProgrammingError) (1007, "Can't create database 'house_price_regression'; database exists")
[SQL: create database house_price_regression;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [17]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/house_price_regression' + '?local_infile=1'

In [18]:
engine = create_engine(connection_string)

In [19]:
df = pd.read_excel('regression_data.xls')

2. Create a table house_price_data with the same columns as given in the csv file and Import the data from the csv file into the table

In [20]:
df.to_sql('house_price_data', con=engine, index=False, if_exists='replace')

21597

In [21]:
df.shape

(21597, 21)

In [22]:
df.head(5)

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,2014-12-09,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2015-02-25,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,2014-12-09,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2015-02-18,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000

4. Select all the data from table house_price_data to check if the data was 
imported correctly

In [23]:
%%sql
use house_price_data;
select * from house_price_data ;

 * mysql+pymysql://root:***@localhost/bank
(pymysql.err.OperationalError) (1049, "Unknown database 'house_price_data'")
[SQL: use house_price_data;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [12]:
%%sql
ALTER TABLE house_price_data
DROP COLUMN date;

 * mysql+pymysql://root:***@localhost/bank
(pymysql.err.ProgrammingError) (1146, "Table 'bank.house_price_data' doesn't exist")
[SQL: ALTER TABLE house_price_data
DROP COLUMN date;]
(Background on this error at: https://sqlalche.me/e/14/f405)