# Lab | SQL Queries 9

In this lab, you will be using the [Sakila](https://dev.mysql.com/doc/sakila/en/) database of movie rentals. You have been using this database for a couple labs already, but if you need to get the data again, refer to the official [installation link](https://dev.mysql.com/doc/sakila/en/sakila-installation.html).

The database is structured as follows:
![DB schema](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/database-sakila-schema.png)

### Instructions

In this lab we will find the customers who were active in consecutive months of May and June. Follow the steps to complete the analysis.

- Create a table `rentals_may` to store the data from rental table with information for the month of May.
- Insert values in the table `rentals_may` using the table rental, filtering values only for the month of May.
- Create a table `rentals_june` to store the data from rental table with information for the month of June.
- Insert values in the table `rentals_june` using the table rental, filtering values only for the month of June.
- Check the number of rentals for each customer for May.
- Check the number of rentals for each customer for June.
- Create a Python connection with SQL database and retrieve the results of the last two queries (also mentioned below) as dataframes:

  - Check the number of rentals for each customer for May
  - Check the number of rentals for each customer for June

    **Hint**: You can store the results from the two queries in two separate dataframes.

- Write a function that checks if customer borrowed more or less films in the month of June as compared to May.

  **Hint**: For this part, you can create a join between the two dataframes created before, using the merge function available for pandas dataframes. Here is a link to the documentation for the [merge function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

In [2]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input

##### Prepare SQL connection

In [3]:
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)
%load_ext sql
%sql {connection_string}

 ··········

**Your code goes here! :**

1.

In [ ]:
#Hacer Querie que irá dentro de la tabla

In [7]:
%%sql
select *
from sakila.rental
where month(rental_date) = 5;

 * mysql+pymysql://root:***@localhost/bank
1156 rows affected.

[(1, datetime.datetime(2005, 5, 24, 22, 53, 30), 367, 130, datetime.datetime(2005, 5, 26, 22, 4, 30), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (2, datetime.datetime(2005, 5, 24, 22, 54, 33), 1525, 459, datetime.datetime(2005, 5, 28, 19, 40, 33), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (3, datetime.datetime(2005, 5, 24, 23, 3, 39), 1711, 408, datetime.datetime(2005, 6, 1, 22, 12, 39), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (4, datetime.datetime(2005, 5, 24, 23, 4, 41), 2452, 333, datetime.datetime(2005, 6, 3, 1, 43, 41), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (5, datetime.datetime(2005, 5, 24, 23, 5, 21), 2079, 222, datetime.datetime(2005, 6, 2, 4, 33, 21), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (6, datetime.datetime(2005, 5, 24, 23, 8, 7), 2792, 549, datetime.datetime(2005, 5, 27, 1, 32, 7), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (7, datetime.datetime(2005, 5, 24, 23, 11, 53), 3995, 269, datetime.datetime(2005, 5, 29, 20, 34, 53), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (8, datetime.datetime(2005, 5, 24, 23, 31, 46), 2346, 239, datetime.datetime(2005, 5, 27, 23, 33, 46), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (9, datetime.datetime(2005, 5, 25, 0, 0, 40), 2580, 126, datetime.datetime(2005, 5, 28, 0, 22, 40), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (10, datetime.datetime(2005, 5, 25, 0, 2, 21), 1824, 399, datetime.datetime(2005, 5, 31, 22, 44, 21), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (11, datetime.datetime(2005, 5, 25, 0, 9, 2), 4443, 142, datetime.datetime(2005, 6, 2, 20, 56, 2), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (12, datetime.datetime(2005, 5, 25, 0, 19, 27), 1584, 261, datetime.datetime(2005, 5, 30, 5, 44, 27), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (13, datetime.datetime(2005, 5, 25, 0, 22, 55), 2294, 334, datetime.datetime(2005, 5, 30, 4, 28, 55), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (14, datetime.datetime(2005, 5, 25, 0, 31, 15), 2701, 446, datetime.datetime(2005, 5, 26, 2, 56, 15), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (15, datetime.datetime(2005, 5, 25, 0, 39, 22), 3049, 319, datetime.datetime(2005, 6, 3, 3, 30, 22), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (16, datetime.datetime(2005, 5, 25, 0, 43, 11), 389, 316, datetime.datetime(2005, 5, 26, 4, 42, 11), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (17, datetime.datetime(2005, 5, 25, 1, 6, 36), 830, 575, datetime.datetime(2005, 5, 27, 0, 43, 36), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (18, datetime.datetime(2005, 5, 25, 1, 10, 47), 3376, 19, datetime.datetime(2005, 5, 31, 6, 35, 47), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (19, datetime.datetime(2005, 5, 25, 1, 17, 24), 1941, 456, datetime.datetime(2005, 5, 31, 6, 0, 24), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (20, datetime.datetime(2005, 5, 25, 1, 48, 41), 3517, 185, datetime.datetime(2005, 5, 27, 2, 20, 41), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (21, datetime.datetime(2005, 5, 25, 1, 59, 46), 146, 388, datetime.datetime(2005, 5, 26, 1, 1, 46), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (22, datetime.datetime(2005, 5, 25, 2, 19, 23), 727, 509, datetime.datetime(2005, 5, 26, 4, 52, 23), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (23, datetime.datetime(2005, 5, 25, 2, 40, 21), 4441, 438, datetime.datetime(2005, 5, 29, 6, 34, 21), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (24, datetime.datetime(2005, 5, 25, 2, 53, 2), 3273, 350, datetime.datetime(2005, 5, 27, 1, 15, 2), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (25, datetime.datetime(2005, 5, 25, 3, 21, 20), 3961, 37, datetime.datetime(2005, 5, 27, 21, 25, 20), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (26, datetime.datetime(2005, 5, 25, 3, 36, 50), 4371, 371, datetime.datetime(2005, 5, 31, 0, 34, 50), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (27, datetime.datetime(2005, 5, 25, 3, 41, 50), 1225, 301, datetime.datetime(2005, 5, 30, 1, 13, 50), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (28, datetime.datetime(2005, 5, 25, 3, 42, 37), 4068, 232, datetime.datetime(2005, 5, 26, 9, 26, 37), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (29, datetime.datetime(2005, 5, 25, 3, 47, 12), 611, 44, datetime.datetime(2005, 5, 30, 0, 31, 12), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (30, datetime.datetime(2005, 5, 25, 4, 1, 32), 3744, 430, datetime.datetime(2005, 5, 30, 3, 12, 32), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (31, datetime.datetime(2005, 5, 25, 4, 5, 17), 4482, 369, datetime.datetime(2005, 5, 30, 7, 15, 17), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (32, datetime.datetime(2005, 5, 25, 4, 6, 21), 3832, 230, datetime.datetime(2005, 5, 25, 23, 55, 21), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (33, datetime.datetime(2005, 5, 25, 4, 18, 51), 1681, 272, datetime.datetime(2005, 5, 27, 3, 58, 51), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (34, datetime.datetime(2005, 5, 25, 4, 19, 28), 2613, 597, datetime.datetime(2005, 5, 29, 0, 10, 28), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (35, datetime.datetime(2005, 5, 25, 4, 24, 36), 1286, 484, datetime.datetime(2005, 5, 27, 7, 2, 36), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (36, datetime.datetime(2005, 5, 25, 4, 36, 26), 1308, 88, datetime.datetime(2005, 5, 29, 0, 31, 26), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (37, datetime.datetime(2005, 5, 25, 4, 44, 31), 403, 535, datetime.datetime(2005, 5, 29, 1, 3, 31), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (38, datetime.datetime(2005, 5, 25, 4, 47, 44), 2540, 302, datetime.datetime(2005, 6, 1, 0, 58, 44), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (39, datetime.datetime(2005, 5, 25, 4, 51, 46), 4466, 207, datetime.datetime(2005, 5, 31, 3, 14, 46), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (40, datetime.datetime(2005, 5, 25, 5, 9, 4), 2638, 413, datetime.datetime(2005, 5, 27, 23, 12, 4), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (41, datetime.datetime(2005, 5, 25, 5, 12, 29), 1761, 174, datetime.datetime(2005, 6, 2, 0, 28, 29), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (42, datetime.datetime(2005, 5, 25, 5, 24, 58), 380, 523, datetime.datetime(2005, 5, 31, 2, 47, 58), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (43, datetime.datetime(2005, 5, 25, 5, 39, 25), 2578, 532, datetime.datetime(2005, 5, 26, 6, 54, 25), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (44, datetime.datetime(2005, 5, 25, 5, 53, 23), 3098, 207, datetime.datetime(2005, 5, 29, 10, 56, 23), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (45, datetime.datetime(2005, 5, 25, 5, 59, 39), 1853, 436, datetime.datetime(2005, 6, 2, 9, 56, 39), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (46, datetime.datetime(2005, 5, 25, 6, 4, 8), 3318, 7, datetime.datetime(2005, 6, 2, 8, 18, 8), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (47, datetime.datetime(2005, 5, 25, 6, 5, 20), 2211, 35, datetime.datetime(2005, 5, 30, 3, 4, 20), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (48, datetime.datetime(2005, 5, 25, 6, 20, 46), 1780, 282, datetime.datetime(2005, 6, 2, 5, 42, 46), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (49, datetime.datetime(2005, 5, 25, 6, 39, 35), 2965, 498, datetime.datetime(2005, 5, 30, 10, 12, 35), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (50, datetime.datetime(2005, 5, 25, 6, 44, 53), 1983, 18, datetime.datetime(2005, 5, 28, 11, 28, 53), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (51, datetime.datetime(2005, 5, 25, 6, 49, 10), 1257, 256, datetime.datetime(2005, 5, 26, 6, 42, 10), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (52, datetime.datetime(2005, 5, 25, 6, 51, 29), 4017, 507, datetime.datetime(2005, 5, 31, 1, 27, 29), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (53, datetime.datetime(2005, 5, 25, 7, 19, 16), 1255, 569, datetime.datetime(2005, 5, 27, 5, 19, 16), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (54, datetime.datetime(2005, 5, 25, 7, 23, 25), 2787, 291, datetime.datetime(2005, 6, 1, 5, 5, 25), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (55, datetime.datetime(2005, 5, 25, 8, 26, 13), 1139, 131, datetime.datetime(2005, 5, 30, 10, 57, 13), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (56, datetime.datetime(2005, 5, 25, 8, 28, 11), 1352, 511, datetime.datetime(2005, 5, 26, 14, 21, 11), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (57, datetime.datetime(2005, 5, 25, 8, 43, 32), 3938, 6, datetime.datetime(2005, 5, 29, 6, 42, 32), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (58, datetime.datetime(2005, 5, 25, 8, 53, 14), 3050, 323, datetime.datetime(2005, 5, 28, 14, 40, 14), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (59, datetime.datetime(2005, 5, 25, 8, 56, 42), 2884, 408, datetime.datetime(2005, 6, 1, 9, 52, 42), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (60, datetime.datetime(2005, 5, 25, 8, 58, 25), 330, 470, datetime.datetime(2005, 5, 30, 14, 14, 25), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (61, datetime.datetime(2005, 5, 25, 9, 1, 57), 4210, 250, datetime.datetime(2005, 6, 2, 7, 22, 57), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (62, datetime.datetime(2005, 5, 25, 9, 18, 52), 261, 419, datetime.datetime(2005, 5, 30, 10, 55, 52), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (63, datetime.datetime(2005, 5, 25, 9, 19, 16), 4008, 383, datetime.datetime(2005, 5, 27, 4, 24, 16), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (64, datetime.datetime(2005, 5, 25, 9, 21, 29), 79, 368, datetime.datetime(2005, 6, 3, 11, 31, 29), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (65, datetime.datetime(2005, 5, 25, 9, 32, 3), 3552, 346, datetime.datetime(2005, 5, 29, 14, 21, 3), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (66, datetime.datetime(2005, 5, 25, 9, 35, 12), 1162, 86, datetime.datetime(2005, 5, 29, 4, 16, 12), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (67, datetime.datetime(2005, 5, 25, 9, 41, 1), 239, 119, datetime.datetime(2005, 5, 27, 13, 46, 1), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (68, datetime.datetime(2005, 5, 25, 9, 47, 31), 4029, 120, datetime.datetime(2005, 5, 31, 10, 20, 31), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (69, datetime.datetime(2005, 5, 25, 10, 10, 14), 3207, 305, datetime.datetime(2005, 5, 27, 14, 2, 14), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (70, datetime.datetime(2005, 5, 25, 10, 15, 23), 2168, 73, datetime.datetime(2005, 5, 27, 5, 56, 23), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (71, datetime.datetime(2005, 5, 25, 10, 26, 39), 2408, 100, datetime.datetime(2005, 5, 28, 4, 59, 39), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (72, datetime.datetime(2005, 5, 25, 10, 52, 13), 2260, 48, datetime.datetime(2005, 5, 28, 5, 52, 13), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (73, datetime.datetime(2005, 5, 25, 11, 0, 7), 517, 391, datetime.datetime(2005, 6, 1, 13, 56, 7), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (74, datetime.datetime(2005, 5, 25, 11, 9, 48), 1744, 265, datetime.datetime(2005, 5, 26, 12, 23, 48), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (75, datetime.datetime(2005, 5, 25, 11, 13, 34), 3393, 510, datetime.datetime(2005, 6, 3, 12, 58, 34), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (76, datetime.datetime(2005, 5, 25, 11, 30, 37), 3021, 1, datetime.datetime(2005, 6, 3, 12, 0, 37), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (77, datetime.datetime(2005, 5, 25, 11, 31, 59), 1303, 451, datetime.datetime(2005, 5, 26, 16, 53, 59), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (78, datetime.datetime(2005, 5, 25, 11, 35, 18), 4067, 135, datetime.datetime(2005, 5, 31, 12, 48, 18), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (79, datetime.datetime(2005, 5, 25, 12, 11, 7), 3299, 245, datetime.datetime(2005, 6, 3, 10, 54, 7), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (80, datetime.datetime(2005, 5, 25, 12, 12, 7), 2478, 314, datetime.datetime(2005, 5, 31, 17, 46, 7), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (81, datetime.datetime(2005, 5, 25, 12, 15, 19), 2610, 286, datetime.datetime(2005, 6, 2, 14, 8, 19), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (82, datetime.datetime(2005, 5, 25, 12, 17, 46), 1388, 427, datetime.datetime(2005, 6, 1, 10, 48, 46), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (83, datetime.datetime(2005, 5, 25, 12, 30, 15), 466, 131, datetime.datetime(2005, 5, 27, 15, 40, 15), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (84, datetime.datetime(2005, 5, 25, 12, 36, 30), 1829, 492, datetime.datetime(2005, 5, 29, 18, 33, 30), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (85, datetime.datetime(2005, 5, 25, 13, 5, 34), 470, 414, datetime.datetime(2005, 5, 29, 16, 53, 34), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (86, datetime.datetime(2005, 5, 25, 13, 36, 12), 2275, 266, datetime.datetime(2005, 5, 30, 14, 53, 12), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (87, datetime.datetime(2005, 5, 25, 13, 52, 43), 1586, 331, datetime.datetime(2005, 5, 29, 11, 12, 43), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (88, datetime.datetime(2005, 5, 25, 14, 13, 54), 2221, 53, datetime.datetime(2005, 5, 29, 9, 32, 54), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (89, datetime.datetime(2005, 5, 25, 14, 28, 29), 2181, 499, datetime.datetime(2005, 5, 29, 14, 33, 29), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (90, datetime.datetime(2005, 5, 25, 14, 31, 25), 2984, 25, datetime.datetime(2005, 6, 1, 10, 7, 25), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (91, datetime.datetime(2005, 5, 25, 14, 57, 22), 139, 267, datetime.datetime(2005, 6, 1, 18, 32, 22), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (92, datetime.datetime(2005, 5, 25, 15, 38, 46), 775, 302, datetime.datetime(2005, 5, 31, 13, 40, 46), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (93, datetime.datetime(2005, 5, 25, 15, 54, 16), 4360, 288, datetime.datetime(2005, 6, 3, 20, 18, 16), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (94, datetime.datetime(2005, 5, 25, 16, 3, 42), 1675, 197, datetime.datetime(2005, 5, 30, 14, 23, 42), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (95, datetime.datetime(2005, 5, 25, 16, 12, 52), 178, 400, datetime.datetime(2005, 6, 2, 18, 55, 52), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (96, datetime.datetime(2005, 5, 25, 16, 32, 19), 3418, 49, datetime.datetime(2005, 5, 30, 10, 47, 19), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (97, datetime.datetime(2005, 5, 25, 16, 34, 24), 1283, 263, datetime.datetime(2005, 5, 28, 12, 13, 24), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (98, datetime.datetime(2005, 5, 25, 16, 48, 24), 2970, 269, datetime.datetime(2005, 5, 27, 11, 29, 24), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (99, datetime.datetime(2005, 5, 25, 16, 50, 20), 535, 44, datetime.datetime(2005, 5, 28, 18, 52, 20), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (100, datetime.datetime(2005, 5, 25, 16, 50, 28), 2599, 208, datetime.datetime(2005, 6, 2, 22, 11, 28), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (101, datetime.datetime(2005, 5, 25, 17, 17, 4), 617, 468, datetime.datetime(2005, 5, 31, 19, 47, 4), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (102, datetime.datetime(2005, 5, 25, 17, 22, 10), 373, 343, datetime.datetime(2005, 5, 31, 19, 47, 10), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (103, datetime.datetime(2005, 5, 25, 17, 30, 42), 3343, 384, datetime.datetime(2005, 6, 3, 22, 36, 42), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (104, datetime.datetime(2005, 5, 25, 17, 46, 33), 4281, 310, datetime.datetime(2005, 5, 27, 15, 20, 33), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (105, datetime.datetime(2005, 5, 25, 17, 54, 12), 794, 108, datetime.datetime(2005, 5, 30, 12, 3, 12), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (106, datetime.datetime(2005, 5, 25, 18, 18, 19), 3627, 196, datetime.datetime(2005, 6, 4, 0, 1, 19), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (107, datetime.datetime(2005, 5, 25, 18, 28, 9), 2833, 317, datetime.datetime(2005, 6, 3, 22, 46, 9), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (108, datetime.datetime(2005, 5, 25, 18, 30, 5), 3289, 242, datetime.datetime(2005, 5, 30, 19, 40, 5), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (109, datetime.datetime(2005, 5, 25, 18, 40, 20), 1044, 503, datetime.datetime(2005, 5, 29, 20, 39, 20), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (110, datetime.datetime(2005, 5, 25, 18, 43, 49), 4108, 19, datetime.datetime(2005, 6, 3, 18, 13, 49), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (111, datetime.datetime(2005, 5, 25, 18, 45, 19), 3725, 227, datetime.datetime(2005, 5, 28, 17, 18, 19), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (112, datetime.datetime(2005, 5, 25, 18, 57, 24), 2153, 500, datetime.datetime(2005, 6, 2, 20, 44, 24), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (113, datetime.datetime(2005, 5, 25, 19, 7, 40), 2963, 93, datetime.datetime(2005, 5, 27, 22, 16, 40), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (114, datetime.datetime(2005, 5, 25, 19, 12, 42), 4502, 506, datetime.datetime(2005, 6, 1, 23, 10, 42), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (115, datetime.datetime(2005, 5, 25, 19, 13, 25), 749, 455, datetime.datetime(2005, 5, 29, 20, 17, 25), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (116, datetime.datetime(2005, 5, 25, 19, 27, 51), 4453, 18, datetime.datetime(2005, 5, 26, 16, 23, 51), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (117, datetime.datetime(2005, 5, 25, 19, 30, 46), 4278, 7, datetime.datetime(2005, 5, 31, 23, 59, 46), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (118, datetime.datetime(2005, 5, 25, 19, 31, 18), 872, 524, datetime.datetime(2005, 5, 31, 15, 0, 18), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (119, datetime.datetime(2005, 5, 25, 19, 37, 2), 1359, 51, datetime.datetime(2005, 5, 29, 23, 51, 2), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (120, datetime.datetime(2005, 5, 25, 19, 37, 47), 37, 365, datetime.datetime(2005, 6, 1, 23, 29, 47), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (121, datetime.datetime(2005, 5, 25, 19, 41, 29), 1053, 405, datetime.datetime(2005, 5, 29, 21, 31, 29), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (122, datetime.datetime(2005, 5, 25, 19, 46, 21), 2908, 273, datetime.datetime(2005, 6, 2, 19, 7, 21), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (123, datetime.datetime(2005, 5, 25, 20, 26, 42), 1795, 43, datetime.datetime(2005, 5, 26, 19, 41, 42), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (124, datetime.datetime(2005, 5, 25, 20, 46, 11), 212, 246, datetime.datetime(2005, 5, 30, 0, 47, 11), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (125, datetime.datetime(2005, 5, 25, 20, 48, 50), 952, 368, datetime.datetime(2005, 6, 2, 21, 39, 50), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (126, datetime.datetime(2005, 5, 25, 21, 7, 59), 2047, 439, datetime.datetime(2005, 5, 28, 18, 51, 59), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (127, datetime.datetime(2005, 5, 25, 21, 10, 40), 2026, 94, datetime.datetime(2005, 6, 2, 21, 38, 40), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (128, datetime.datetime(2005, 5, 25, 21, 19, 53), 4322, 40, datetime.datetime(2005, 5, 29, 23, 34, 53), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (129, datetime.datetime(2005, 5, 25, 21, 20, 3), 4154, 23, datetime.datetime(2005, 6, 4, 1, 25, 3), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (130, datetime.datetime(2005, 5, 25, 21, 21, 56), 3990, 56, datetime.datetime(2005, 5, 30, 22, 41, 56), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (131, datetime.datetime(2005, 5, 25, 21, 42, 46), 815, 325, datetime.datetime(2005, 5, 30, 23, 25, 46), 2, datetime.datetime(2006, 2, 15, 21, 30, 53)),
 (132, datetime.datetime(2005, 5, 25, 21, 46, 54), 3367, 479, datetime.datetime(2005, 5, 31, 21, 2, 54), 1, datetime.datetime(2006, 2, 15, 21, 30, 53)),